---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Base.astro";
import { getFirestore } from "firebase-admin/firestore";
import NewsData from "@/partials/NewsData.astro";
import PromoData from "@/partials/PromoData.astro";

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("__session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}

interface Usuario {
  uid: string;
  nome: string;
  data_criacao: Date;
  tipo: string;
  cpf_cnpj: string;
}

const db = getFirestore(app);
const usuariosRef = db.collection("Usuarios");

// Fetch only the document of the logged-in user using their uid
const userDoc = await usuariosRef.doc(decodedCookie.uid).get();

if (!userDoc.exists) {
  console.error("No user data found in Firestore for this uid");
  return Astro.redirect("/signin");
}

const usuario = userDoc.data() as Usuario;
const {nome, tipo, cpf_cnpj} = usuario;

// formatar cpf_cnpj se for 11 caracteres 000.000.000-02, se for 14 caracteres 00.000.000/0000-00
const cpf_cnpjFormatado = (cpf_cnpj).length === 11 ? cpf_cnpj.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4") : cpf_cnpj.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5");

// Convert Firestore Timestamp to JavaScript Date
const dataCriacaoDate = usuario.data_criacao.toDate();

const promocoesRef = db.collection("Promocoes");
const promocoesSnapshot = await promocoesRef.get();
const promocoes = promocoesSnapshot.docs.map((doc) => doc.data());

const produtosRef = db.collection("Produtos");
const produtosSnapshot = await produtosRef.get();
const produtos = produtosSnapshot.docs.map((doc) => doc.data());

// adicionar imgem_url de produtos para o item produto em promocoes
const adicionarImagem = (promocao: any) => {
  const imagem = produtos.find((item: any) => item.uid === promocao.produto);
  promocao.imagem_url = imagem?.imagem_url;
  return promocao;
}

const promocoesComImagem = promocoes.map(adicionarImagem);

const noticiasRef = db.collection("Noticias");
const noticiasSnapshot = await noticiasRef.get();
const noticias = noticiasSnapshot.docs.map((doc) => doc.data());

---
<Layout title="Dashboard">
  <!-- Seção de Perfil -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6 text-center">
          <h1 class="text-3xl font-bold mb-4">Bem-vindo, {user.displayName}!</h1>
          <p class="mb-6 text-lg">Bom ver você aqui, {nome}</p>
          <p class="mb-6 text-lg">Seu tipo de conta é: {tipo}</p>
          <p class="mb-6 text-lg">CPF/CNPJ: {cpf_cnpjFormatado}</p>
          <p class="mb-6 text-lg">Conta criada em: {dataCriacaoDate.toLocaleDateString()}</p>
          <form action="/api/auth/signout" method="post">
            <button 
              type="submit" 
              class="btn btn-primary w-full md:w-auto">
              Sair
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

<!-- Seção de Notícias -->
<NewsData newsData={noticias}></NewsData>
<!-- Seção de Promoções -->
<PromoData promoData={promocoesComImagem}></PromoData>
</Layout>